.index-gallery {
    padding-top: 140px;
    &__box {
        display: flex;
        flex-direction: column;
        grid-gap: 30px;
    }
    @include tablet {
        padding-top: 50px;
    }
    @include mobile {
        padding-top: 30px;
    }
}
.gallery-pictures {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-gap: 30px;
    @include laptopç {
        padding: 0 15px;
        grid-gap: 20px;
    }
    @include mobile {
        grid-gap: 5px;
    }


    &-item {
        display: flex;
        flex-direction: column;
        grid-gap: 30px;
        @include mobile {
            grid-gap: 2px;
        }
    }
}

.loadMore {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    position: relative;

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(14px, 1.579vw, 18px);
    line-height: 150%;
    color: var(--color-d);

    text-align: center;
    padding: 25px 0;
    transition: all 1s;

    &::after {
        position: absolute;
        top: 0px;
        content: '';
        width: 400%;
        height: 1px;
        border: 1px solid var(--color-b);
    }
    &::before {
        position: absolute;
        bottom: 0px;
        content: '';
        width: 400%;
        height: 1px;
        border: 1px solid var(--color-b);
    }
}

