<footer>
  <div class="container">
    <div class="footer">
      <div class="footer-contact">
        <a href="#"><svg width="138" height="58">
            <use href='img/sprite/sprite.svg#coffee'></use>
          </svg></a>
        <span class="footer-contact__item">Creating a catchy tagline coffee shop business growth.</span>
        <a class="footer-contact__telephone"><svg width="24" height="20">
            <use href='img/sprite/sprite.svg#tel'></use>
          </svg><span>+8801742-527137</span></a>
      </div>
      <div class="footer-categories">
        <span class="footer-categories">CATEGORIES</span>
        <ul class="footer-categories">
          <li class="footer-categories__item"><a>Ashley Szekeres Art</a></li>
          <li class="footer-categories__item"><a>Merchandise</a></li>
          <li class="footer-categories__item"><a>Gift Certificates</a></li>
        </ul>
      </div>
      <div class="footer-categories">
        <span class="footer-categories">INFORMATION</span>
        <ul class="footer-categories">
          <li class="footer-categories__item"><a>Ashley Szekeres Art</a></li>
          <li class="footer-categories__item"><a>Merchandise</a></li>
          <li class="footer-categories__item"><a>Gift Certificates</a></li>
        </ul>
      </div>
      <div class="footer-follow">
        <p>FOLLOW US</p>
        <ul class="social-links">
          <li class="social-links__item"><a href="#"><svg width="20" height="17">
                <use href='img/sprite/sprite.svg#twit'></use>
              </svg></a>
          </li>
          <li class="social-links__item"><a href="#"><svg width="11" height="18">
                <use href='img/sprite/sprite.svg#facebook'></use>
              </svg></a>
          </li>
          <li class="social-links__item"><a href="#"><svg width="18" height="18">
                <use href='img/sprite/sprite.svg#inst'></use>
              </svg></a>
          <li class="social-links__item"><a href="#"><svg width="18" height="17">
                <use href='img/sprite/sprite.svg#in'></use>
              </svg></a>
          </li>
        </ul>
      </div>
      <span class="footer-copyright">Copyright © 2021 Coffee, All rights reserved. Present by MoxCreative.
      </span>
    </div>
  </div>
</footer>